# https://github.com/pyinvoke/invoke/issues/891
invoke==2.2.0
watchfiles==0.16.1
plasTeX @ git+https://github.com/plastex/plastex.git
leanblueprint @ git+https://github.com/PatrickMassot/leanblueprint.git
pandoc==2.3
